<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добре Дошли</title>
    <style>
body, html {
  margin: 100;
  padding: 100;
  overflow: hidden;
<!--  height: 100%;-->
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("img/body-background.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  height: 100vh;

}

/* Add styles to the form container */
.container {
  position: absolute;
  left: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}



    </style>

</head>
<body>
<img src="../img/bannerAW.png" class="img-fluid" style="width: 100%; height: 250px;">
<!--    ADMIN  start -->
<div th:if="${role=='ADMIN'}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand " th:href="@{/}"  style="font-size: 13px">
            <img src="../img/brandAW.png" width="30" height="30" alt="">
            Management®
        </a>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Служители</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/admin/employees/list}">Списък</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/employees/add}">Добавяне</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Клиенти</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" th:href="@{/admin/clients/list}">Списък</a></li>
                    <li><a class="dropdown-item" th:href="@{/admin/clients/add}">Добавяне</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Админ</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://localhost:8080/users">Списък</a></li>
                    <li><a class="dropdown-item" href="/users/add">Добавяне</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <p style="color:white">Logged in:
                    <span th:text="${whoIsLoggedIn}" style="color:green">
                    </span>
                    <span>-
                        <span th:text="${role}" style="color:white;font-size: 9px"></span>
                    </span>
                </p>
            </li>
            <li class="nav-item"><p style="color:black"> - </p></li>
            <li class="nav-item"><p></p></li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-danger" style="padding: 1px 3px" value="Logout">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="bg-image">
        <div class="container" style="max-width: 400px; text-align: center">
            <h2>Добре дошли в Админ Панелът.</h2>
            <ul>Тук можете да администрирате Клиенти:
                <li> Да въвеждате нови Клиенти;</li>
                <li> Да обновявате и изтривате съществуващи Клиенти;</li>
                <li> Да създавате и редактирате Служителите;</li>
                <li> Да виждате статистика за Служителите;</li>
            </ul>
        </div>
    </div>
</div>
<!--    ADMIN end  -->
<!--    EMPLOYEE start  -->
<div th:unless="${role=='ADMIN'}">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand " th:href="@{/}" style="font-size: 13px">
            <img src="../img/brandAW.png" width="30" height="30" alt="">
            Management®
        </a>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Курорти</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://localhost:8080/resorts">Списък</a></li>
                    <li><a class="dropdown-item" href="/resorts/add">Добавяне</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Хотели</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://localhost:8080/hotels">Списък</a></li>
                    <li><a class="dropdown-item" href="/hotels/add">Добавяне</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Админ</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="http://localhost:8080/users">Списък</a></li>
                    <li><a class="dropdown-item" href="/users/add">Добавяне</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><p style="color:white">Logged in:
                <span th:text="${whoIsLoggedIn}" style="color:green"></span>
                <span>-
                        <span th:text="${role}" style="color:white;font-size: 9px"></span>
                    </span>
            </p>
            </li>
            <li class="nav-item"><p style="color:black"> - </p></li>
            <li class="nav-item"><p></p></li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-danger" style="padding: 1px 3px" value="Logout">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="bg-image">
        <div class="container" style="max-width: 400px; text-align: center">

            <h2>Добре дошли в Панелът за Служители.</h2>
            <ul>Тук можете:
                <li> Да създавате протокол за деня в който да пише за кои клиенти сте работил днес;</li>
                <li> По колко време на клиент сте работил;</li>
                <li> Кратко описание на свършената работа;</li>
            </ul>
        </div>
    </div>
</div>
<!--    EMPLOYEE end  -->
</body>
</html>
